@model ParagraphItem


<h2> add a paragraph </h2>
<form asp-action="AddParagraph">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" value="@Model.PageId" asp-for="PageId" />

    <div class="form-group">
        <label asp-for="Title" class="control-label">Paragraph title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label">Content</label>
        <textarea asp-for="Content" rows="10" cols="30"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
